
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
  body{
    font-family: 'poppins',sans-serif;
    background-color: #2d3436;
  }
  nav{
    margin-top: 200px;
    text-align: center;
  }
  nav ul{
    display: inline-block;
    list-style: none;
    transform: skew(-25deg);
  }
  nav ul li {
    background-color: #fff;
    float: left;
    border-right: 1px solid #eee;
    box-shadow: 1.95x 1.95px 2.6px rgba(0,0,0,1);
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
    transition: all0.2s linear;
  }
  nav ul li:hover{
    background-color: #0984e3;
    color: #fff;
  }
  a {
    color: inherit;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transform: skew(25deg);

  }
  nav ul li:first-child{
    border-radius: 7px 0 0 7px;
  }
  nav ul li:last-child{
    border-radius: 0 7px 7px 0;
  }